*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(135deg, #f3f3f3, #f3f3f3);
}

.barra {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color:  #14aa00;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

.barra h1{
    color: #ffffff;
    margin-top: -20px;
}


.sidebar{
    margin-top: 60px;
    position: fixed;
    font-size: 20px;
    background-color: #f3f3f3;
    width: max-content;
    border-radius: 10px;
    padding: 2rem 1rem;
}

.sidebar:hover .sidebar_element{
    grid-template-columns: 40px 1fr;
}

.sidebar_list{
    list-style: none;
    padding: 0;

    min-height: 600px;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.sidebar_element {

    padding: .8rem 1.3rem;
    border-radius: 3px;

    display: grid;
    align-items: center;
    grid-template-columns: 40px 0fr;

    color: #ffffff;
    fill: #000000;

    transition: grid-template-columns .4s;
}


.sidebar_element:not(:has(.sidebar_icon--logo)):hover{
    
    background-color: #31d109;
    color: #ffffff;
    fill: #ffffff;
    cursor: pointer;

}

.sidebar_element:not(:has(.sidebar_icon--logo)){
    margin-bottom: 1rem;
   
}

.sidebar_icon--logo{
    max-width: 30px;
}

.sidebar_icon{
    width: 100%;
    overflow: hidden;
    justify-self: center;
}

.sidebar_icon--logo{
    max-width: 30px;
}

.sidebar_icon__logo, .sidebar__text{
    padding-left: 1.3rem;
}

.sidebar__logo, .sidebar__tex{
    padding-left: 1.3rem;
}

.sidebar__hide{
    overflow: hidden;
}


.contenedor {
    margin-top: 60px;
    margin-left: 110px;
    padding: 20px;
    background-color: #ffffff;
    flex-grow: 1; 
}

.conte{
    width: 300px;
    height: 300px;
    background-color: rgb(189, 189, 44);
}

.footer {
    background-color: #254a9b;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}

.footer {
    background-color: #14aa00;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}