

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de EPA</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Registro de EPA</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"><br><br>
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion"></textarea><br><br>
        <label for="cultivos_susceptibles">Cultivos susceptibles:</label>
        <textarea id="cultivos_susceptibles" name="cultivos_susceptibles"></textarea><br><br>
        <label for="imagen">Imagen:</label>
        <input type="file" id="imagen" name="imagen"><br><br>
        <button type="submit" name="registrar">Registrar</button>
    </form>
    <form action="" method="post">
        <label for="nombre_buscar">Buscar EPA:</label>
        <input type="text" id="nombre_buscar" name="nombre"><br><br>
        <button type="submit" name="buscar">Buscar</button>
    </form>
  
        </ul>
    
</body>
</html>

